Repository synqing/Lightwave-Ledstrip: changes, and which pre-commit hooks are due for each by the changed paths.
All: json-boundary-check, effect-tunable-manifest-check

.pre-commit-config.yaml:

# Pre-commit hooks for LightwaveOS
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Context Pack lint
  - repo: local
    hooks:
      - id: contextpack-lint
        name: Context Pack Lint
        entry: python tools/contextpack.py --lint
        language: python
        pass_filenames: false
        always_run: true
        stages: [commit]

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock.json

  # Python formatting (optional)
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        files: ^tools/.*\.py$

  # YAML lint
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: ['-d', '{extends: relaxed, rules: {line-length: disable}}']
        files: \.(yaml|yml)$

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.patch$
      - id: end-of-file-fixer
        exclude: \.patch$
      - id: check-yaml
      - id: check-json
        exclude: package-lock.json

  # JSON codec boundary check (firmware/v2 only)
  - repo: local
    hooks:
      - id: json-boundary-check
        name: JSON Codec Boundary Check
        entry: bash -c 'TARGET_DIR=firmware/v2 ./tools/check_json_boundary.sh'
        language: system
        pass_filenames: false
        files: ^firmware/v2/.*\.(cpp|h|hpp)$
        stages: [commit]

  # Effect tunable manifest + phased coverage gate
  - repo: local
    hooks:
      - id: effect-tunable-manifest-check
        name: Effect Tunable Manifest Check
        entry: python firmware/v2/tools/effect_tunables/generate_manifest.py --validate --enforce-all-families
        language: python
        pass_filenames: false
        files: ^firmware/v2/(src/effects/|src/config/effect_ids\.h|docs/effects/tunable_manifest\.json|tools/effect_tunables/)
        stages: [commit]

refactor(api): extend IEffect parameter descriptor and name length
  firmware/v2/src/plugins/api/IEffect.h
Due: json-boundary-check

feat(core): effect tunable persistence store
  firmware/v2/src/core/persistence/EffectTunableStore.cpp
  firmware/v2/src/core/persistence/EffectTunableStore.h
Due: json-boundary-check

feat(core): control lease manager for exclusive dashboard control
  firmware/v2/src/core/system/ControlLeaseManager.cpp
  firmware/v2/src/core/system/ControlLeaseManager.h
Due: json-boundary-check

feat(renderer): external render stream and effect tunable store integration
  firmware/v2/src/core/actors/RendererActor.cpp
  firmware/v2/src/core/actors/RendererActor.h
Due: json-boundary-check

feat(effects): Showpiece Pack 3 effect IDs and display order
  firmware/v2/src/config/display_order.h
  firmware/v2/src/config/effect_ids.h
  firmware/v2/src/effects/CoreEffects.cpp
Due: json-boundary-check, effect-tunable-manifest-check

feat(effects): add Showpiece Pack 3 effect implementations
  firmware/v2/src/effects/ieffect/LGPFresnelCausticSweepEffect.cpp
  firmware/v2/src/effects/ieffect/LGPFresnelCausticSweepEffect.h
  firmware/v2/src/effects/ieffect/LGPGoldCodeSpeckleEffect.cpp
  firmware/v2/src/effects/ieffect/LGPGoldCodeSpeckleEffect.h
  firmware/v2/src/effects/ieffect/LGPKdVSolitonPairEffect.cpp
  firmware/v2/src/effects/ieffect/LGPKdVSolitonPairEffect.h
  firmware/v2/src/effects/ieffect/LGPQuasicrystalLatticeEffect.cpp
  firmware/v2/src/effects/ieffect/LGPQuasicrystalLatticeEffect.h
  firmware/v2/src/effects/ieffect/LGPTimeReversalMirrorEffect.cpp
  firmware/v2/src/effects/ieffect/LGPTimeReversalMirrorEffect.h
  firmware/v2/src/effects/ieffect/LGPTimeReversalMirrorEffect_AR.cpp
  firmware/v2/src/effects/ieffect/LGPTimeReversalMirrorEffect_AR.h
  firmware/v2/src/effects/ieffect/LGPTimeReversalMirrorEffect_Mod1.cpp
  firmware/v2/src/effects/ieffect/LGPTimeReversalMirrorEffect_Mod1.h
  firmware/v2/src/effects/ieffect/LGPTimeReversalMirrorEffect_Mod2.cpp
  firmware/v2/src/effects/ieffect/LGPTimeReversalMirrorEffect_Mod2.h
  firmware/v2/src/effects/ieffect/LGPTimeReversalMirrorEffect_Mod3.cpp
  firmware/v2/src/effects/ieffect/LGPTimeReversalMirrorEffect_Mod3.h
Due: json-boundary-check, effect-tunable-manifest-check

refactor(codec): effects codec alignment with effect IDs and parameter API
  firmware/v2/src/codec/HttpEffectsCodec.cpp
  firmware/v2/src/codec/HttpEffectsCodec.h
  firmware/v2/src/codec/WsEffectsCodec.cpp
  firmware/v2/src/codec/WsEffectsCodec.h
Due: json-boundary-check

feat(network): control lease REST and ControlHandlers
  firmware/v2/src/network/WebServer.cpp
  firmware/v2/src/network/webserver/handlers/ControlHandlers.cpp
  firmware/v2/src/network/webserver/handlers/ControlHandlers.h
Due: json-boundary-check

feat(ws): control lease WebSocket commands
  firmware/v2/src/network/webserver/ws/WsControlCommands.cpp
  firmware/v2/src/network/webserver/ws/WsControlCommands.h
Due: json-boundary-check

feat(ws): external render stream and WsGateway lease gate
  firmware/v2/src/network/webserver/WsGateway.cpp
  firmware/v2/src/network/webserver/WsGateway.h
  firmware/v2/src/network/webserver/ws/WsStreamCommands.cpp
  firmware/v2/src/network/webserver/ws/WsStreamCommands.h
Due: json-boundary-check

refactor(network): effect and device handlers for IDs and API
  firmware/v2/src/network/ApiResponse.h
  firmware/v2/src/network/webserver/handlers/DeviceHandlers.cpp
  firmware/v2/src/network/webserver/handlers/EffectHandlers.cpp
Due: json-boundary-check

feat(main): control lease manager init and release on disconnect
  firmware/v2/src/main.cpp
Due: json-boundary-check

feat(tab5): align encoder effect set with firmware effect IDs (146→166)
  firmware/Tab5.encoder/src/config/Config.h
  firmware/Tab5.encoder/src/main.cpp
  firmware/Tab5.encoder/src/parameters/ParameterHandler.cpp
  firmware/Tab5.encoder/src/ui/ZoneComposerUI.cpp
  firmware/Tab5.encoder/src/utils/NameLookup.h
Due: none

test: update codec tests for effect IDs and parameter API
  firmware/v2/test/test_http_effects_codec/test_http_effects_codec.cpp
  firmware/v2/test/test_ws_color_codec/test_ws_color_codec.cpp
  firmware/v2/test/test_ws_device_codec/test_ws_device_codec.cpp
  firmware/v2/test/test_ws_effects_codec/test_ws_effects_codec.cpp
  firmware/v2/test/test_ws_palette_codec/test_ws_palette_codec.cpp
  firmware/v2/test/test_ws_transition_codec/test_ws_transition_codec.cpp
Due: json-boundary-check

refactor(effects): parameter API for remaining LGP effects
  .github/workflows/codec_boundary_check.yml
  .github/workflows/route_shape_smoke.yml
  firmware/v2/src/effects/ieffect/LGPChladniHarmonicsEffect.h
  firmware/v2/src/effects/ieffect/LGPConcentricRingsEffect.cpp
  firmware/v2/src/effects/ieffect/LGPConcentricRingsEffect.h
  firmware/v2/src/effects/ieffect/LGPDiamondLatticeEffect.cpp
  firmware/v2/src/effects/ieffect/LGPDiamondLatticeEffect.h
  firmware/v2/src/effects/ieffect/LGPHexagonalGridEffect.cpp
  firmware/v2/src/effects/ieffect/LGPHexagonalGridEffect.h
  firmware/v2/src/effects/ieffect/LGPMeshNetworkEffect.cpp
  firmware/v2/src/effects/ieffect/LGPMeshNetworkEffect.h
  firmware/v2/src/effects/ieffect/LGPSierpinskiEffect.cpp
  firmware/v2/src/effects/ieffect/LGPSierpinskiEffect.h
  firmware/v2/src/effects/ieffect/LGPSpiralVortexEffect.cpp
  firmware/v2/src/effects/ieffect/LGPSpiralVortexEffect.h
Due: json-boundary-check, effect-tunable-manifest-check

refactor(network): V1 API routes and WS device/effects/sys commands
  firmware/v2/src/network/webserver/V1ApiRoutes.cpp
  firmware/v2/src/network/webserver/ws/WsDeviceCommands.cpp
  firmware/v2/src/network/webserver/ws/WsEffectsCommands.cpp
  firmware/v2/src/network/webserver/ws/WsSysCommands.cpp
Due: json-boundary-check

test(tools): broadcast fix script and web smoke test updates
  firmware/v2/tools/test_broadcast_fix.sh
  tools/web/web_smoke_test.py
Due: none

refactor(effects): parameter API for ChladniHarmonics and RileyDissonance
  firmware/v2/src/effects/ieffect/LGPChladniHarmonicsEffect.cpp
  firmware/v2/src/effects/ieffect/LGPRileyDissonanceEffect.h
Due: json-boundary-check, effect-tunable-manifest-check

docs(api): v1/v2 API updates and control lease, render stream specs
  docs/api/api-v1.md
  docs/api/api-v2.md
  docs/api/control-lease-v1.md
  docs/api/render-stream-v1.md
Due: none

docs(agent): Nogic review/workflow and architecture map and canvas
  docs/agent/NOGIC_REVIEW.md
  docs/agent/NOGIC_WORKFLOW.md
  docs/architecture/ARCHITECTURE_CANVAS.html
  docs/architecture/ARCHITECTURE_MAP.md
  docs/architecture/nogic_canvas_spec.json
Due: none

docs: staging and commit strategy for branch
  docs/STAGING_AND_COMMIT_STRATEGY.md
Due: none

refactor(effects): parameter API for RileyDissonance implementation
  firmware/v2/src/effects/ieffect/LGPRileyDissonanceEffect.cpp
Due: json-boundary-check, effect-tunable-manifest-check

chore(skills): remove unused skills from .claude/skills
  .claude/skills/Changelog-generator/SKILL.md
  .claude/skills/Content Research Writer/SKILL.md
  .claude/skills/brand-guidelines/LICENSE.txt
  .claude/skills/brand-guidelines/SKILL.md
  .claude/skills/claude-d3js-skill-main/SKILL.md
  .claude/skills/claude-d3js-skill-main/assets/chart-template.jsx
  .claude/skills/claude-d3js-skill-main/assets/interactive-template.jsx
  .claude/skills/claude-d3js-skill-main/assets/sample-data.json
  .claude/skills/claude-d3js-skill-main/references/colour-schemes.md
  .claude/skills/claude-d3js-skill-main/references/d3-patterns.md
  .claude/skills/claude-d3js-skill-main/references/scale-reference.md
  .claude/skills/finishing-a-development-branch/SKILL.md
  .claude/skills/internal-comms/LICENSE.txt
  .claude/skills/internal-comms/SKILL.md
  .claude/skills/internal-comms/examples/3p-updates.md
  .claude/skills/internal-comms/examples/company-newsletter.md
  .claude/skills/internal-comms/examples/faq-answers.md
  .claude/skills/internal-comms/examples/general-comms.md
  .claude/skills/supabase-expert/SKILL.md
  .claude/skills/theme-factory/LICENSE.txt
  .claude/skills/theme-factory/SKILL.md
  .claude/skills/theme-factory/theme-showcase.pdf
  .claude/skills/theme-factory/themes/arctic-frost.md
  .claude/skills/theme-factory/themes/botanical-garden.md
  .claude/skills/theme-factory/themes/desert-rose.md
  .claude/skills/theme-factory/themes/forest-canopy.md
  .claude/skills/theme-factory/themes/golden-hour.md
  .claude/skills/theme-factory/themes/midnight-galaxy.md
  .claude/skills/theme-factory/themes/modern-minimalist.md
  .claude/skills/theme-factory/themes/ocean-depths.md
  .claude/skills/theme-factory/themes/sunset-boulevard.md
  .claude/skills/theme-factory/themes/tech-innovation.md
  .claude/skills/toon-formatter/SKILL.md
Due: none

refactor(effects): parameter API for ChevronWavesEffect
  firmware/v2/src/effects/ieffect/ChevronWavesEffect.h
Due: json-boundary-check, effect-tunable-manifest-check

chore(manifest): tunable manifest full coverage and all families enforced
  firmware/v2/docs/effects/tunable_manifest.json
Due: effect-tunable-manifest-check

chore(tools): add bulk_expose_remaining.py for tunable manifest
  firmware/v2/tools/effect_tunables/bulk_expose_remaining.py
Due: effect-tunable-manifest-check

refactor(effects): IEffect parameter API for pack files and esv11 reference
  firmware/v2/src/effects/ieffect/LGPExperimentalAudioPack.cpp
  firmware/v2/src/effects/ieffect/LGPExperimentalAudioPack.h
  firmware/v2/src/effects/ieffect/LGPHolyShitBangersPack.cpp
  firmware/v2/src/effects/ieffect/LGPHolyShitBangersPack.h
  firmware/v2/src/effects/ieffect/LGPShapeBangersPack.cpp
  firmware/v2/src/effects/ieffect/LGPShapeBangersPack.h
  firmware/v2/src/effects/ieffect/esv11_reference/EsAnalogRefEffect.cpp
  firmware/v2/src/effects/ieffect/esv11_reference/EsAnalogRefEffect.h
  firmware/v2/src/effects/ieffect/esv11_reference/EsOctaveRefEffect.cpp
  firmware/v2/src/effects/ieffect/esv11_reference/EsOctaveRefEffect.h
  firmware/v2/src/effects/ieffect/esv11_reference/EsWaveformRefEffect.cpp
  firmware/v2/src/effects/ieffect/esv11_reference/EsWaveformRefEffect.h
Due: json-boundary-check, effect-tunable-manifest-check

docs(api): API v1/v2 and K1 composer README updates
  docs/api/api-v1.md
  docs/api/api-v2.md
  tools/k1-composer-dashboard/README.md
Due: none

docs: staging and commit strategy for second-wave parameter API
  docs/STAGING_AND_COMMIT_STRATEGY_2.md
Due: none

docs: add branch goal verification for Tab5 + iOS effect ID alignment
  docs/BRANCH_GOAL_VERIFICATION.md
Due: none

docs: add implementation backlog and actionable tasks review
  docs/IMPLEMENTATION_BACKLOG_AND_ACTIONS.md
Due: none

milestone: snapshot tunables rollout verification and contract hardening
  docs/API_AUTH_DEPRECATION_DEBRIEF.md
  docs/IMPLEMENTATION_BACKLOG_AND_ACTIONS.md
  docs/planning/NEXT_ROADMAP_PHASE.md
  docs/planning/PERF_TASK_LOW_HEAP_SHEDDING_BASELINE.md
  firmware/v2/platformio.ini
  firmware/v2/test/test_native/benchmark_ws_routing.cpp
  firmware/v2/test/test_ws_contract_gateway/test_ws_gateway.cpp
  firmware/v2/test/test_ws_contract_integration/test_webserver_integration_contract.cpp
  firmware/v2/test/test_ws_contract_router/test_ws_router.cpp
  firmware/v2/test/test_ws_contract_routes/test_webserver_routes.cpp
Due: json-boundary-check

perf: start low-heap shedding baseline execution with idle/rest profile
  docs/planning/perf_runs/perf_baseline_2026-02-26_phase1.md
Due: none

chore: add serial-first stress harness and capture perf evidence snapshot
  docs/planning/perf_runs/perf_baseline_2026-02-26_phase2.json
  docs/planning/perf_runs/perf_baseline_2026-02-26_phase2.md
  docs/planning/perf_runs/stress_harness_quick_2026-02-26_142940.json
  docs/planning/perf_runs/stress_harness_quick_2026-02-26_142940.md
  docs/planning/perf_runs/stress_harness_typical_2026-02-26_145814.json
  docs/planning/perf_runs/stress_harness_typical_2026-02-26_145814.md
  firmware/v2/docs/PSRAM_MIGRATION_CANDIDATES.md
  firmware/v2/src/codec/WsEffectsCodec.cpp
  firmware/v2/src/network/webserver/WsGateway.cpp
  firmware/v2/src/network/webserver/WsGateway.h
  firmware/v2/src/network/webserver/ws/WsEffectsCommands.cpp
  tools/Makefile
  tools/web/STRESS_HARNESS.md
  tools/web/stress_harness.py
Due: json-boundary-check

WsGateway PSRAM: heap log, MEMORY_ALLOCATION doc, upload port auto-detect
  firmware/v2/docs/MEMORY_ALLOCATION.md
  firmware/v2/platformio.ini
  firmware/v2/src/network/webserver/WsGateway.cpp
Due: json-boundary-check

perf: retune low-heap shedding thresholds for stable baseline runtime
  docs/planning/perf_runs/stress_harness_typical_2026-02-26_151304.json
  docs/planning/perf_runs/stress_harness_typical_2026-02-26_151304.md
  docs/planning/perf_runs/stress_harness_typical_2026-02-26_151615.json
  docs/planning/perf_runs/stress_harness_typical_2026-02-26_151615.md
  firmware/v2/docs/MEMORY_ALLOCATION.md
  firmware/v2/src/network/WebServer.h
Due: json-boundary-check
